<div class="FooterComponent" >
    <table style="background-color: black;width: 100%;">
        <tr>
            <td><br><label style="color:white;font-weight: 500;">CALENDRIER</label><br></td>
            <td><br><label style="color:white;font-weight: 500;">GALERIE</label><br></td>
        </tr>
        <tr>
            <td style="width: 30%;">
                <div class="calendar-wrapper" style="width:400px; background-color:white;">
                    <mat-calendar #calendar >
                    </mat-calendar>
                </div>
            </td>
            <td>
                <div style="width:400px">
                    <img  alt="Devenir formateur" width="130" height="130" src="../../assets/gal.png" >
                    <img  alt="Devenir formateur" width="130" height="130" src="../../assets/htmlcssjs.png" >
                    <img  alt="Devenir formateur" width="130" height="130" src="../../assets/kubernetes.png" >

                    <br>
                    <img  alt="Devenir formateur" width="130" height="130" src="../../assets/spring.png" >
                    <img  alt="Devenir formateur" width="130" height="130" src="../../assets/web.png" >

                </div>
            </td>
    </tr>
    </table>
    <div style="width: 100%;background-color:dimgray;"><br><br><label style="color:white;font-weight: 500;">Copyrights © Five Training-center . All rights reserved. Designed by Five Consulting.</label><br><br></div>
</div>