<div class="TeacherComponent">
    <br>
    <br>
 <label for="forminator-field-name-1" class="forminator-label">Nom &amp; Prénom <span class="forminator-required">*</span></label>
 <br>   
 <mat-form-field appearance="fill" [style.width.%]="100">
      <mat-label>Par exemple : Jacques Martin</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  </div>